/* Board.css */

/* 변경된 스타일: board-container 클래스 스타일 추가 */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 폼 요소를 수평으로 가운데로 정렬 */
}

/* board-write-form 클래스 스타일 수정 */
.board-write-form {
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
  width: 100%;
  margin-bottom: 10px;
}

/* board-add-button 클래스 스타일 추가 */
.board-add-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.board-add-button:hover {
  background-color: #58914f;
}

/* board-cancel-button 클래스 스타일 추가 */
.board-add-button,
.board-cancel-button {
  background-color: #6AAF5F;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.board-add-button:hover,
.board-cancel-button:hover {
  background-color: #58914f;
}

/* board-form 클래스 스타일 수정 */
.board-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* 폼 요소를 수평으로 가운데로 정렬 */
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* board-form 내부 요소 스타일 */
.board-form input[type="text"],
.board-form textarea,
.board-form button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* board-table 클래스 스타일 */
.board-table {
  width: 100%;
  border-collapse: collapse;
}

.board-table th,
.board-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.board-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.board-table tr:nth-child(even) {
  background-color: #f9fff9;
}

.board-table tr:hover {
  background-color: #eeeeee;
}

.board-table button {
  cursor: pointer;
  border: none;
  background: none;
  color: #6AAF5F;
  font-size: 14px;
  text-decoration: underline;
}

.board-table button:hover {
  text-decoration: none;
}

.board-expanded-form textarea {
  background-color: #ffffff;
  width: 85%;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: both;
  font-size: 18px;
}