.board-container {
  font-family: sans-serif;
  flex-direction: column;
  align-items: center; /* 폼 요소를 수평으로 가운데로 정렬 */
  display: flex;
  justify-content: center; 
  background-color: #eeeeee;
  overflow-y: auto;
}

.board-write-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  margin-bottom: -30px;
}

.board-add-button {
  background-color: #7BA0E2;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.board-add-button:hover {
  background-color: #7BA0E2;
}


.board-add-button,
.board-cancel-button {
  background-color: #7BA0E2;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.board-add-button:hover,
.board-cancel-button:hover {
  background-color: #7BA0E2;
}


.board-form {
  flex-direction: column;
  align-items: center; /* 폼 요소를 수평으로 가운데로 정렬 */
  justify-content: center;
  width: 100%;
  width: 700px;
  padding: 20px;
  background-color: #f3f8fb;
  border-radius: 15px;
  box-shadow: 0 2px 4px #00000049;
}

/* board-form 내부 요소 스타일 */
.board-form input[type="text"],
.board-form textarea,
.board-form button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  align-content: center;
  justify-content: center;
}

/* board-table 클래스 스타일 */
.board-table {
  width: 70%; 
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.board-table th,
.board-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.board-table th {
  background-color: #95bbdd;
  text-align: center;
  color:#ffffff;
}

.board-table tr:nth-child(even) {
  background-color: #f3f8fb;
}

.board-table tr:hover {
  background-color: #eeeeee;
}

.board-table button {
  cursor: pointer;
  border: none;
  background: none;
  color: #7BA0E2;
  font-size: 14px;
  text-decoration: underline;
}

.board-table button:hover {
  text-decoration: none;
}

.board-expanded-form textarea {
  background-color: #ffffff;
  width: 85%;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: both;
  font-size: 18px;
}

.comments-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.comment-input {
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.comment-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 60px; /* 댓글 입력 창의 높이 조정 */
  margin-right: 15px;
}

.comment-input button {
  background-color: #7BA0E2;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 40px;
}

.comment-input button:hover {
  background-color: #7BA0E2;
}