@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');


body {
    background: #EEE;
}

#str {
    width: 800px;
    padding-top: 100px;
    font-family: 'Tangerine', cursive;
    font-size: 150px;
    margin: 10px auto -450px;
    color: #8a7d6f;
    font-weight: bold;
    text-align: center;
}

.small-font {
    font-size: 50px;
    margin-top: -200px;
}

@keyframes bounceUp {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.small-font .bounce {
    display: inline-block;
    animation: bounceUp 0.5s ease-in-out infinite alternate;
}