/* home.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .wrapper {
    min-height: 100%;
    position: relative;
  }
  
  
  .container {
    position: relative;
    margin: 10px auto;
    margin-top: 50px;
    width: 100%; /* 화면 너비에 맞게 조정 */
    height: 100%; /* 화면 높이에 맞게 조정 */
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  /* 나머지 스타일은 그대로 유지 */
  