/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

.footer-container {
  width: 100%;
  padding: 10px;
  height: 40px;
  background-color: #efecd1;
  margin: 0 auto;
  position: relative; /* Add this to establish positioning context */
  bottom: 0; /* Ensure that the footer starts at the bottom */
}

.footer-section1 {
  margin-bottom: 20px;
}

.button-link {
  display: inline-block;
  background-color: transparent;
  color: rgb(101, 116, 167);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}