body {
  margin: 0;
  background-color: 4a4a4a;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: -40%;
  left: 0;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-x: hidden;
  transition: bottom 0.3s ease;
  max-width: 1396px; /* 최대 너비 제한 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

  .footer-section1 {
    margin-bottom: 20px;
  }
  
  .footer-section1 h2 {
    font-size: 20px;
    color: #4a4a4a;
  }
  
  .footer-section1 p {
    font-size: 16px;
    color: #4a4a4a;
  }
  

  .footer-section2 {
    margin-bottom: 20px;
  }
  
  .footer-section2 h2 {
    font-size: 20px;
    color: #4a4a4a;
  }
  
  .footer-section2 p {
    font-size: 16px;
    color: #4a4a4a;
  }
  

  .footer-section3 {
    margin-bottom: 20px;
  }
  
  .footer-section3 h2 {
    font-size: 20px;
    color: #4a4a4a;
  }
  
  .footer-section3 p {
    font-size: 16px;
    color: #4a4a4a;
  }
  