@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap&noto.script=Kore');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script:400');
@import url('https://fonts.google.com/specimen/Bree+Serif');
@import url('https://fonts.google.com/specimen/Dongle?subset=korean&noto.script=Kore');
@import url('https://fonts.google.com/specimen/Gowun+Batang?subset=korean&noto.script=Kore');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap&subset=korean&noto.script=Kore');

* {
    box-sizing: border-box;
  }
  
  .animation-marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 30px;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }
  
  .animation-marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    min-width: 100%;
    animation: animation-scroll 300s infinite linear;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .animation-marquee-group {
      animation-play-state: paused;
    }
  }
  
  .animation-marquee-group .animation-card {
    width: 300px;
    height: 300px;
    aspect-ratio: 1;
    object-fit: cover;
    border: none; /* 테두리 제거 */
    border-radius: 30px; /* 둥근 사각형 형태 */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent; /* 배경 색상 투명으로 설정 */
  }
  
  .animation-marquee-group .animation-card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 30px; /* 둥근 사각형 형태 */
  }
  
  .animation-marquee-group .animation-card .animation-overlay {
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .animation-marquee-group .animation-card .animation-cardh4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;

    padding: 5px 10px;
    -webkit-text-stroke: 0.01px #313030;
    color: white;
    text-shadow:
      1px 1px 0 #313030,
      -1px -1px 0 #313030,
      1px -1px 0 #313030,
      -1px 1px 0 #313030,
      1px 1px 0 #313030;
  }
  
  .animation-marquee-group .animation-card .animation-cardp {
    font-size: 40px;
    margin: 0;
    font-family: 'Dongle', sans-serif;

    padding: 0;
    border-radius: 8px;
    padding: 5px 10px;
    margin-top: 150px;
    -webkit-text-stroke: 0.01px #313030;
    color: white;
    text-shadow:
      1px 1px 0 #313030,
      -1px -1px 0 #313030,
      1px -1px 0 #313030,
      -1px 1px 0 #313030,
      1px 1px 0 #313030;
  }
  
  @keyframes animation-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 10px));
    }
  }
